@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');




#mesfs {
	color:rgb(0, 0, 0);
	background-color: white;
  font-family: 'Poppins';
  font-weight: reg;

}

:root {
	--dark-color-a: #435dee;
	--dark-color-b: #3f57e0;
	--light-color-1: rgb(238, 238, 238);
  --light-color-2: #fff;
	--success-color: #5cb85c;
	--red-color: rgb(206, 102, 107);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins';
  font-weight: regular;
	font-size: 16px;
	background: url('https://png.pngtree.com/thumb_back/fw800/background/20200214/pngtree-seamless-repeat-pattern-with-flowers-and-leaves-scandinavian-childish-drawing-background-image_329827.jpg');
	margin: 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bod {
  width: 100%;
  height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.exit a {
  color: var(--light-color-2);
  background: var(--red-color);
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  transition: 0.3s;
  top: 7.5px;
  right: 20px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.users a {
  color: var(--light-color-2);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 150px;
  top: 0;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  transition: 0.3s;
}

.users a:hover {
  color: #aaa;
}

.exit a:hover {
  color: var(--red-color);
  background: transparent;
}

.btn {
	cursor: pointer;
  font-family: 'Poppins';
	padding: 5px 15px;
	background: var(--light-color-1);
	color: #222;
	border: 0;
	font-size: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.3s;
}

.btn:hover {
	background: #bbb;
}

/* Chat Page */

.chat-container {
	background: #fff;
	margin: 0;
  position: absolute;
  top: 0;
  left: 0;
	overflow: hidden;
  width: 100%;
  height: 100%;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
  width: 100%;
	display: flex;
	align-items: center;
  margin: 0;
}

.chat-header img {
  width: 40px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-x: hidden;
  height: 100vh;
  font-family: 'Montserrat';
}

h2 {
	font-size: 20px;
  width: 100%;
  font-family: 'Montserrat';
  text-align: center;
}

.chat-sidebar h3 {
  position: absolute;
  font-family: 'Montserrat';
}



.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 10px;
	max-height: 516px;
  top: 0;
	overflow-y: scroll;
  width: 100%;
}

.chat-messages .message {
	padding: 30px;
	margin-bottom: 15px;
  width: 100%;
  text-align: left; /* changes the dir of messages */
  border-bottom-right-radius: 50px; /* so does this */
  background-color: var(--light-color-1);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-family: 'Poppins';
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}


.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	flex: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none; 
}

input {
  padding: 10px;
  box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

input[type="text"] {
    box-sizing: border-box;
    padding: 10px;
}

input::placeholder {
  color: #ddd;
  font-size: 15px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

input::text {
  padding: 10px;
}

input::value {
  padding: 10px;
}

input {
  padding: 10px;
  font-family: 'Poppins';
  font-size: 15px
}

/* Join Page */
.join-container {
	width: 1400px;
  height: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

  .exit a {
  color: var(--light-color-2);
  background: var(--red-color);
  padding: 20px;
  font-size: 15px;
  position: absolute;
  border-radius: 10px;
  transition: 0.3s;
  top: 7.5px;
  right: 20px;
 }

  h2 {
	font-size: 20px;
  width: 15%;
  font-family: 'Montserrat';
  text-align: center;
 }

 
}


/* Preloader */

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--dark);
  justify-content: center;
  align-items: center;
}

.preloader img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.preloader.done {
  -moz-animation: done ease-in-out 1s;
  -webkit-animation: done ease-in-out 1s;
  -o-animation: done ease-in-out 1s;
  animation: done ease-in-out 1s;
}

@keyframes done {
  0% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateY(800px);
    visibility: hidden;
  }
}